.waiting-scene {
    -fx-background-color: #f0f0f0;
    -fx-padding: 40;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.message {
    -fx-font-size: 16px;
    -fx-text-fill: #666;
    -fx-padding: 0 20;
    -fx-text-alignment: center;
}

.cancel-button {
    -fx-background-color: #ff5252;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.cancel-button:hover {
    -fx-background-color: #ff1744;
}

.choose-goal-scene {
    -fx-background-color: #f0f0f0;
    -fx-padding: 40;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.card {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-border-color: #333; /* Colore del bordo */
    -fx-border-width: 2px; /* Spessore del bordo */
    -fx-border-radius: 5px; /* Arrotondamento del bordo */
}

.card:hover {
    -fx-scale-x: 1.05; /* Ingrandisce leggermente l'immagine su passaggio del mouse */
    -fx-scale-y: 1.05; /* Ingrandisce leggermente l'immagine su passaggio del mouse */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 0, 0);
}


.table-view {
    -fx-background-color: #f4f4f4; /* Colore di sfondo */
}

.table-view .column-header-background {
    -fx-background-color: #007bff; /* Colore di sfondo dell'intestazione delle colonne */
}

.table-view .column-header {
    -fx-text-fill: white; /* Colore del testo dell'intestazione delle colonne */
}

.table-row-cell {
    -fx-background-color: #ffffff; /* Colore di sfondo delle celle */
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9; /* Colore di sfondo alternato per le righe */
}

.table-row-cell:selected {
    -fx-background-color: #007bff; /* Colore di sfondo della riga selezionata */
    -fx-text-fill: white; /* Colore del testo della riga selezionata */
}